{% extends 'layout.html.twig' %}

{% block content %}
	{% for user in users %}
		{{user.first_Name}}
	{% endfor %}

	<!--Essa página será importada dentro do layout-->
	<!--Fazemos isso com o comando extends do twig-->
	<div class="container">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Administração de Usuários</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<!--O método abaixo é um método costumizado, criamos ele no plugin do twig para que possamos utilizar o método de criação de rotas -->
							<a href="{{route('users.new')}}" class="btn btn-default">
								<span class="glyphicon glyphicon-plus"></span>
							</a>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th style="width:10px">#</th>
										<th>Nome</th>
										<th>Email</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
								{% for user in users %}
									<tr>
										<td>{{ user.id }}</td>
										<!-- Para contatenar nomes com o twig utilizamos o operadore [~] então vamos adicionar um espaço entre o primeiro e o segundo nome -->
										<td>{{ user.first_name ~ ' ' ~ user.last_name  }}</td>
										<td>{{ user.email }}</td>
										<td>
											<a href="{{route('users.edit',{'id':user.id})}}">
												<span class="glyphicon glyphicon-pencil"></span>
											</a>
											|
											<a href="{{route('users.warning',{'id':user.id})}}">
												<span class="glyphicon glyphicon-remove"></span>
											</a>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- Delimita o fim do bloco a ser importado-->
{% endblock %}